<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.14" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Data.ConnectionUI.Dialog" version="1.0.1" targetFramework="net461" />
  <package id="System.Data.SqlServerCe_unofficial" version="4.0.8482.1" targetFramework="net35" />
</packages>